[alias]
  #up = !git fetch origin && git rebase origin/master
  #down = !git checkout master && git merge @{1} --ff-only
  a = add
  aa = !git add -u && git add . && git status
  bd = branch -D
  c = commit -m
  cd = cd "`git rev-parse --show-toplevel`"
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  d = diff | subl
  fp = fetch --prune
  ir = !git rebase -i
  l = log --pretty='format:%Cgreen%h%Creset %an - %s' --graph
  mq = merge --squash
  rh = reset --hard
  s = status
[core]
  excludesfile = /Users/rxgx/.gitignore
[user]
  name = Ryan Gasparini
  email = ryan@rxgx.com
