"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
      formatOnType: false
    "atom-ide-diagnostics-ui":
      autoVisibility: true
    use: {}
  core:
    telemetryConsent: "no"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "Panic Sans"
    fontSize: 12
  "exception-reporting":
    userId: "a845c49e-d535-407c-9fb8-0a81fc956ce8"
  welcome:
    showOnStartup: false
