[alias]
    a   = add
    aa  = !git add -u && git add . && git status
    bd  = branch -D
    bmg = branch --merged
    bmv = branch -m
    br  = branch -r
    brm = branch -r --merged
    c   = commit -m
    ca  = commit --amend -m
    cd  = cd "`git rev-parse --show-toplevel`"
    co  = checkout
    cob = checkout -b
    cp  = cherry-pick
    d   = diff
    fa  = fetch --all
    fl  = log -u
    ir  = !git rebase -i
    l   = log --pretty=format:'%C(green)%h%C(reset) %s %Cblue[%an]%Creset' --graph
    lf  = log --pretty=format:'%C(green)%h%C(reset)%C(yellow)%d%C(reset) %s %C(blue)[%cn]%C(reset)' --decorate --numstat
    lg  = log --pretty=format:'%C(green)%h%C(reset)%C(yellow)%d%C(reset) %s %C(red)(%cr)%C(reset) %C(blue)[%an]%C(reset)' --abbrev-commit --graph
    mq  = merge --squash
    pr  = pull --rebase
    rh  = reset --hard
    s   = status
    sa  = stash apply
    sb  = stash branch
    sc  = stash clear
    sl  = stash list
    sp  = stash pop
    ss  = stash save
    um  = ls-files -u
[color]
	ui = auto
[core]
    editor = code --wait
    excludesfile = /Users/ryan/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
    prune = true
[merge]
    conflictstyle = diff3
[rerere]
    enabled = true
[user]
    name  = Ryan Gasparini
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red 52
	newNormal = green
	newHighlight = green 22
[color "diff"]
	meta = normal
	frag = magenta
	commit = 227
	old = red
	new = green
	whitespace = red reverse
